@import "font";


$mainfont: 'Roboto', sans-serif;


$maincolor: #baa77d;
$secondcolor: #333333;
$white: #fff;
$black : #1e1e1e;
$button-slide : #622b26;
$button-check : #d63231;
$label-boxsearch : #fea500;